body {
    font-family: 'Poppins', sans-serif;
    background-color: #fafbfc;
}

#registro .contenedor {
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
    width: 90%;
    margin: auto;
    padding-top: 75px;
}

h2 {
    color: #45d89e;
    font-size: 40px;
}

.join {
    color: rgb(204, 204, 204);
    text-transform: uppercase;
}

#registro img {
    width: 100%;
}

.izquierda, .derecha {
    width: 40%;
}

#tarjetas .contenedor {
    display: flex;
    justify-content: center;
    max-width: 1280px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    
}

.tarjeta {
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 1px .6px 7px #00000038;
    width: 25%;
    margin-right: 15px;
    padding: 27px;
    text-align: center;
}